<%- model_class = Shipping -%>
<div class="page-header">
  <h1>Transportadora</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('nome') %>:</strong></dt>
  <dd><%= @shipping.name %></dd>
  <dt><strong><%= model_class.human_attribute_name('cep') %>:</strong></dt>
  <dd><%= @shipping.cep %></dd>
  <dt><strong><%= model_class.human_attribute_name('endereço') %>:</strong></dt>
  <dd><%= @shipping.address %></dd>
  <dt><strong><%= model_class.human_attribute_name('bairro') %>:</strong></dt>
  <dd><%= @shipping.neighborhood %></dd>
  <dt><strong><%= model_class.human_attribute_name('cidade') %>:</strong></dt>
  <dd><%= @shipping.city %></dd>
  <dt><strong><%= model_class.human_attribute_name('UF') %>:</strong></dt>
  <dd><%= @shipping.state %></dd>
  <dt><strong><%= model_class.human_attribute_name('fone') %>:</strong></dt>
  <dd><%= @shipping.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name('cpf') %>:</strong></dt>
  <dd><%= @shipping.cpf %></dd>
  <dt><strong><%= model_class.human_attribute_name('cnpj') %>:</strong></dt>
  <dd><%= @shipping.cnpj %></dd>
  <dt><strong><%= model_class.human_attribute_name('Inscrição estadual') %>:</strong></dt>
  <dd><%= @shipping.inscricao %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              shippings_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_shipping_path(@shipping), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              shipping_path(@shipping),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
