<%= form_for @invoice, :html => { :class => "form-horizontal invoice" } do |f| %>

  <% if @invoice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

 <% if @invoice.type_invoice == 'Venda' %>

 <div class="form-group">
   <%= f.label 'Data', :class => 'control-label col-lg-2' %>
   <div class="col-lg-3">
     <%= f.date_field :data_prevenda, :class => 'form-control', disabled: true %>
   </div>
   <%=f.error_span(:data_prevenda) %>
 </div>


 <div class="form-group">
   <%= f.label 'tipo de venda', :class => 'control-label col-lg-2' %>
   <div class="col-lg-5">
    <!-- ANTERIORMENTE ERA ASSIM
   <%= f.select(:type_invoice, options_for_select([["Pré venda"], ["Venda"]], @invoice.type_invoice), {include_blank: 'Selecione:'}, disabled: true, :class => 'form-control') %>
 -->
   <%= f.hidden_field :type_invoice, value: "Pré venda", disabled: true, :class => 'form-control' %>
</div>
   <%=f.error_span(:type_invoice) %>
  </div>

  	<div class="form-group">
    <%= f.label 'cliente', :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.collection_select(:client_id, @clients, :id, :name, {include_blank: 'Selecione o cliente:'}, disabled: true,:class => 'form-control') %>
    </div>
    <%=f.error_span(:client_id) %>
    </div>

    <% else %>

     <%= f.hidden_field :type_invoice, value: "Pré venda", readonly: true, :class => 'form-control' %>
     <div class="form-group">
       <%= f.label 'Data', :class => 'control-label col-lg-2' %>
       <div class="col-lg-2">
         <% if action_name == 'edit' %>
        <%= f.date_field :data_prevenda, :class => 'form-control' %>
         <% else %>
         <%= f.date_field :data_prevenda, value: Date.today, :class => 'form-control' %>
         <% end %>
       </div>
       <%=f.error_span(:data_prevenda) %>
     </div>

  	<div class="form-group">
    <%= f.label 'cliente', :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.collection_select(:client_id, @clients, :id, :name, {include_blank: 'Selecione o cliente:'},:class => 'form-control', :autofocus => true) %>
    </div>
    <%=f.error_span(:client_id) %>
    </div>

   <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', data: { disable_with: "Processando..." }, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
