<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="D&D Support Service - Consultoria em T.I and God ever!!!">
    <link rel="icon" href="../../images/favicon.ico">

  <title>DsoftWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- CSS PARA REMOVER O BOTÃO IMPRIMIR NA VIEW DE IMPRESSÃO -->
  <style type="text/css">
	@media print {
    #printbtn {
        display :  none;
    }
}
</style>

</head>
<body>


<%- model_class = Invoice -%>

<div class="panel panel-default">
  <div class="panel-heading">
<%= image_tag "header.png" %>



&nbsp;&nbsp;<button type="button" id ="printbtn" class="btn btn-success", onclick ="window.print();return false;">Imprimir</button>
<%= link_to "Voltar", invoices_path, :class => 'btn btn-default', id: 'printbtn' %>

<% if @invoice.type_invoice == "Venda" %>
<%= link_to 'Gerar NFE', gerar_nfe_invoice_path(:id => @invoice.id), :class => 'btn btn-success', data: {disable_with: "<i class='fa fa-spinner fa-pulse fa-spin'></i> Processando...".html_safe} %>
<%end%>

    <h1 class="panel-title"><%= @invoice.type_invoice %> Nº <font color="red"><%= @invoice.id %></font></h1>
  </div><!-- fim .panel-heading -->
  <div class="panel-body">

<dl class="dl-horizontal">

  <strong><%= model_class.human_attribute_name('cliente') %>:</strong>
  &nbsp;<%= @invoice.client.name %>
	<strong><%= model_class.human_attribute_name('itinerário') %>:</strong>
  <%= @invoice.client.route.name %><br />

  <strong><%= model_class.human_attribute_name('endereço') %>:</strong>
  &nbsp;<%= @invoice.client.address %>&nbsp;
  <strong><%= model_class.human_attribute_name('bairro') %>:</strong>
  &nbsp;<%= @invoice.client.neighborhood %><strong>&nbsp;
  <%= model_class.human_attribute_name('cidade') %>:</strong>
  &nbsp;<%= @invoice.client.city %><br />
  <strong><%= model_class.human_attribute_name('UF') %>:</strong>
  &nbsp;<%= @invoice.client.state %>&nbsp;
  <strong><%= model_class.human_attribute_name('Cep') %>:</strong>
  &nbsp;<%= @invoice.client.zipcode %>&nbsp;
  <strong><%= model_class.human_attribute_name('Cnpj') %>:</strong>
  &nbsp;<%= @invoice.client.cnpj %>&nbsp;
  <strong><%= model_class.human_attribute_name('fone') %>:</strong>
  &nbsp;<%= @invoice.client.phone %><br />
  <strong><%= model_class.human_attribute_name('celular') %>:</strong>
  &nbsp;<%= @invoice.client.cellphone %>&nbsp;
  <strong><%= model_class.human_attribute_name('email') %>:</strong>
  <%= @invoice.client.email %>
  </dd>

</dl>
  </div><!-- fim .panel-body -->
</div><!-- fim .panel -->

 <div class="panel panel-default">
  <div class="panel-heading">

 <table class="table table-striped">
  <thead>
    <tr>
      <th><%= 'produto' %></th>
      <th><%= 'qnt' %></th>
      <th><%= 'val unit R$' %></th>
      <th><%= 'total R$' %></th>
      <th><%= 'total lucro R$' %></th>

    </tr>
  </thead>
  <tbody>

 	<% @invoice.items.each do |item| %>
        <tr>
        <td><%= item.product.name %></td>
        <td><%= item.qnt %></td>
        <td><%= item.sale_value %></td>
        <td><%= item.total_value_sale %></td>
				<% if item.profit_sale.present? %>
        <td><%= item.profit_sale %></td>
				<% else %>
				<td>Não informado</td>
				<% end %>
        </tr>
      <% end %>
       </tbody>

   </table>
  </div>
  </div>

 	<!-- EXIBE A QUANTIDADE DE ITENS NA O.S -->
 	<div class="panel panel-default">
  		<div class="panel-heading">
    <h3 class="panel-title">Forma pagamento: <strong><%= @invoice.form_receipt %></strong> / <%= @invoice.items.count %> Itens / Total geral: <strong>R$ <%= @total_items %></strong></font></h3>
  </div><!-- fim .panel-heading -->
 </div>

 <h3>Lucro geral: <strong>R$ <%= @lucro_total %></strong></font></h3></h3>
 <br>
<br>

<!--
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
São Paulo, <%= DateTime.now.strftime("%d/%m/%Y") %>
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="5">SR Plastic | Indústria e Comércio Ltda.</font>
<p>
-->


</body>
</html>
