<h1>Carta de correção NF-e</h1>

<%= form_for(@invoice, :html => { :class => "form-horizontal invoice" }, url: correcao_nfe_path, method: :post) do |f| %>

  <% if @invoice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <!-- guardando o ambiente para saber se é teste ou produção -->
    <%= f.hidden_field :environment, :value=> @show_emitente.check_env %>

    
    <div class="form-group">
    <%= f.label 'Código referência', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
    <%= f.text_field :id, :class => 'form-control', readonly: true %>
	</div>
    <%=f.error_span(:id) %>
  </div>
    
	<div class="form-group">
    <%= f.label 'Dados da carta de correção *', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.text_area :just_correcao, class: "form-control", cols: "10", rows: "5", placeholder: "Digite..." -%>
	</div>
    <%=f.error_span(:just_correcao) %>
  </div>
    
    </div>
 
 <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Enviar Carta de correção', data: { disable_with: "Processando..." }, :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', invoices_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<br />
<br />

<div class="jumbotron">
<h2>Informações sobre Carta de correção NF-e</h2>
<h4>- A Carta de Correção é disciplinada pelo § 1º-A do
art. 7º do Convênio S/N, de 15 de dezembro de 1970
e pode ser utilizada para regularização de erro
ocorrido na emissão de documento fiscal, desde que
o erro não esteja relacionado com:</h4>
<h5>I - as variáveis
que determinam o valor do imposto tais como: base
de cálculo, alíquota, diferença de preço, quantidade,
valor da operação ou da prestação;</h5>
<h5>II - a correção de
dados cadastrais que implique mudança do
remetente ou do destinatário;</h5>  
<h5>III - a data de emissão
ou de saída.</h5>

</div>

