<%- model_class = CategPayment -%>
<div class="page-header">
  <h1>Categoria</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('nome') %>:</strong></dt>
  <dd><%= @categ_payment.name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              categ_payments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_categ_payment_path(@categ_payment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              categ_payment_path(@categ_payment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
