<%- model_class = User -%>
<div class="page-header">
  <h1><%= "Usuários " %></h1>
  <%= form_tag(users_path, method: :get) do %>
<div class="form-group">
		<div class="row">
			  <div class="col-lg-3">
			  <%= select_tag(:tipo_consulta, options_for_select([['Nome', 1],['Email', 2]]), include_blank: 'Pesquisar por:', class: 'form-control')%>
			</div>
			</div>
		<div class="form-group">
		<div class="row">
			  <div class="col-lg-3">
		<%= text_field_tag(:search, nil, placeholder: 'Digite o parametro...', class: 'form-control') %>
		</div>
		</div>
		<br />
		<%= submit_tag "Consultar", class: 'btn btn-success' %>
<% end %>
<%= link_to "Novo", new_user_path, :class => 'btn btn-primary' %>
</div>
</div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("nome") %></th>
      <th><%= model_class.human_attribute_name("email") %></th>
      <th><%= model_class.human_attribute_name("tipo de acesso") %></th>

      <th><%= "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.type_access %></td>

        <td>
          <% if current_user.type_access == 'MASTER' || user.type_access != 'MASTER' %>
          <%= link_to "Editar", edit_user_path(user), :class => 'btn btn-default btn-xs' %>

          <%= link_to "Excluir",
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

Total de usuários cadastrados <b><%= @total_users %></b>
