<!-- CSS PARA REMOVER O BOTÃO IMPRIMIR NA VIEW DE IMPRESSÃO -->
  <style type="text/css">
	@media print {
    #printbtn {
        display :  none;
    }
}
</style>

<!-- INSERI ESSA VERIFICAÇÃO DE AMBIENTE PRA CARREGAR OS PDF'S TANTO LOCALMENTE QUANTO NO HEROKU -->
<% if Rails.env.development? %>
  <style type="text/css">
    <%= Rails.application.assets.find_asset('application.css').to_s.html_safe %>
</style>
<% end %>

<div class="container-fluid">

<%- model_class = HeaderInput -%>
<br />
<%= image_tag "logo_mini.png" %>
<div class="page-header">
  <h2>Relatório analítico de Entrada de compras</h2>
  
  Periodo: <%= @datainicial %> até <%=@datafinal %><br />
  <% if @supplier.present? %>
  Fornecedor: <%= @supplier.name %> 
  <% end %>
<%= form_tag(report_input_path, method: :get) do %>
		
<div class="form-group">			  
		<div class="row">
			  <div class="col-lg-3">		
		<%= select_tag(:supplier, options_from_collection_for_select(@suppliers, "id", "name"), include_blank: 'Selecione o fornecedor:', class: 'form-control', id: 'printbtn')%>			  	
		  	  </div>
		</div>

<div class="form-group">
		<div class="row">
			  <div class="col-lg-3">
			  <%= select_tag(:tipo_consulta, options_for_select([['Á PAGAR', 'Á PAGAR'], ['PAGAS', 'PAGA']], params[:tipo_consulta]), include_blank: 'Selecione:', class: 'form-control', id: 'printbtn')%>
			</div>
			</div>		
 
<div class="form-group">			  
		<div class="row">
			  <div class="col-lg-2">
		<%= date_field_tag(:date1, params[:date1], placeholder: 'data inicial', class: 'form-control', id: 'printbtn') %>
		</div>
		</div>

<div class="form-group">			  
		<div class="row">
			  <div class="col-lg-2">
		<%= date_field_tag(:date2, params[:date2], placeholder: 'data final', class: 'form-control', id: 'printbtn') %>	
		</div>
		</div>
	</div>	
		<br />	
		<%= submit_tag "Consultar", class: 'btn btn-success', id: 'printbtn' %>
<% end %>

	<button type="button" id ="printbtn" class="btn btn-success", onclick ="window.print();return false;">Imprimir</button>
 

<table class="table table-striped">
  <thead>
    <tr>
      <th> <%= 'produto' %></th>
      <th><%= 'qnt' %></th>
      <th><%= 'val unit R$' %></th>
      <th><%= 'total R$' %></th>
      <th><%= 'lançado em' %></th>
     
    </tr>
  </thead>
  <tbody>
 
 	<% @item_inputs.each do |item_input| %>
 	    <tr>
        <td><%= item_input.product.name %></td>
        <td><%= item_input.qnt %></td>
        <td><%= item_input.cost_value %></td>
        <td><%= item_input.total_value_cost %></td>
        <td><%= item_input.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <% end %>
       </tbody>
       
   </table>

Total geral R$: <b><%= @total_items %></b>
