<%- model_class = HeaderInput -%>
<div class="page-header">
  <h1>Entrada de Compras Nº <font color="red"><%= @header_input.id %></font></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('cliente') %>:</strong></dt>
  <dd><%= @header_input.supplier.name %></dd>
  <dt><strong><%= model_class.human_attribute_name('status') %>:</strong></dt>
  <dd><%= @header_input.status %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              header_inputs_path, :class => 'btn btn-default'  %>
<% if @header_input.status == 'ABERTA' %>              
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_header_input_path(@header_input), :class => 'btn btn-default' %>
<% end %>              
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              header_input_path(@header_input),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

 <div class="page-header">
 	
 	<!-- EXIBE A QUANTIDADE DE ITENS NA O.S -->
 	<h2><%= @header_input.item_inputs.count %> Itens / Total geral: <%= @total_items %> </h2>
 </div>
    <!-- EXIBE OS ITENS NA O.S --> 
 <%= render "item_inputs/item" %>
 <%= render "item_inputs/form" %>
 
  <%= render "header_inputs/form_receipt" %>  
 
 

<p>
              
