<%= form_for @document, :html => { :class => "form-horizontal document" } do |f| %>

  <% if @document.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'arquivo', :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.file_field :file, :class => 'btn btn-default' %>
    </div>
    <%=f.error_span(:file) %>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Upload now', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                documents_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
