<%= form_for @payment, :html => { :class => "form-horizontal payment" } do |f| %>

  <% if @payment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<!-- LINHAS COMENTADAS PARA TIRAR OS CAMPOS NDOC, TIPO, FORNECEDOR E FORMA DE PAGAMENTO
  <div class="form-group">
    <%= f.label "Nº doc", :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :doc_number, :class => 'form-control', id: 'doc_number' %>
    </div>
    <%=f.error_span(:doc_number) %>
  </div>
  
  <div class="form-group">
    <%= f.label "tipo doc", :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.select(:type_doc, options_for_select([["BOLETO"], ["CARNÊ"],["PROMISSÓRIA"],["OUTROS"]], @payment.type_doc), {include_blank: 'Selecione'}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:doc_number) %>
  </div>
  -->
  <%= f.hidden_field :doc_number %>
  
<!-- inseri esse HIDDEN FIELD para pode guardar o id do tipo de forncedor OUTROS automáticamente -->
    <%= f.hidden_field :supplier_id, :value=> 9 %>

 
   <div class="form-group">
    <%= f.label 'fornecedor', :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
    <%= f.collection_select(:supplier_id, @suppliers, :id, :name, {include_blank: 'Selecione:'},:class => 'form-control') %>
  </div>
    <%=f.error_span(:supplier_id) %>
  </div>
 
 
  <div class="form-group">
    <%= f.label 'categoria despesa', :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
    <%= f.collection_select(:categ_payment_id, @categ_payments, :id, :name, {include_blank: 'Selecione:'},:class => 'form-control') %>
  </div>
    <%=f.error_span(:categ_payment_id) %>
  </div>
  
  <div class="form-group">
    <%= f.label "descrição", :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label "data vencto", :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.date_field :due_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:due_date) %>
  </div>
    
  <div class="form-group">
    <%= f.label 'data pagto', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.date_field :payment_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:payment_date) %>
  </div>
    
  
  <%= f.hidden_field :form_payment, :value=> 'DINHEIRO' %>
  <!--
  <div class="form-group">
    <%= f.label 'forma pagto', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select(:form_payment, options_for_select([["CHEQUE"], ["DINHEIRO"], ["CRÉDITO"], ["DÉBITO"]], @payment.form_payment), {include_blank: 'Selecione'}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:form_payment) %>
  </div>
          
  <div class="form-group">
    <%= f.label 'parcelas', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select(:installments, options_for_select([["1"], ["2"],["3"],["4"], ["5"],["6"],["7"], ["8"],["9"],["10"], ["11"],["12"]], @payment.installments), {include_blank: 'Selecione'},:class => 'form-control') %>
    </div>
    <%=f.error_span(:installments) %>
  </div>
  
  -->
  
  <!-- inseri esse HIDDEN FIELD para salvar sempre 1 parcela automáticamente -->
    <%= f.hidden_field :installments, :value=> 1 %>
  
  <div class="form-group">
    <%= f.label 'valor docto R$', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :value_doc, :class => 'form-control', id: 'real'%>
    </div>
    <%=f.error_span(:value_doc) %>
  </div>
  <!--
  <div class="form-group">
    <%= f.label "status", :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select(:status, options_for_select([["Á PAGAR"], ["PAGA"]], @payment.status), {include_blank: 'Selecione'}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  -->
  <%= f.hidden_field :status, :value=> 'PAGA' %>
  
   <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', data: { disable_with: "Processando..." }, :class => 'btn btn-primary' %>
           <%= link_to 'Cancelar',
                payments_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
