<%- model_class = Product -%>
<div class="page-header">
  <h1>Produtos</h1>
  <%= form_tag(products_path, method: :get) do %>
<div class="form-group">
		<div class="row">
			  <div class="col-lg-3">
			  <%= select_tag(:tipo_consulta, options_for_select([['Descrição', 1]]), include_blank: 'Pesquisar por:', class: 'form-control')%>
			</div>
			</div>
		<div class="form-group">
		<div class="row">
			  <div class="col-lg-3">
		<%= text_field_tag(:search, nil, placeholder: 'Digite o parametro...', class: 'form-control') %>
		</div>
		</div>
		<br />
		<%= submit_tag "Consultar", class: 'btn btn-success' %>
<% end %>
<%= link_to "Novo", new_product_path, :class => 'btn btn-primary' %>
</div>
</div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("nome") %></th>
      <th><%= model_class.human_attribute_name("Valor custo") %></th>
      <th><%= model_class.human_attribute_name("Atualizado em") %></th>
      <th><%= model_class.human_attribute_name("unidade medida") %></th>
      <th><%= model_class.human_attribute_name("codigo NCM") %></th>
      <th><%= model_class.human_attribute_name("Cest") %></th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>

        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.cost_value %></td>
        <td><%= product.data_atualizacao_custo %></td>
        <td><%= product.unidade_comercial %></td>
        <td><%= product.codigo_ncm %></td>
        <td><%= product.cest %></td>

        <td>
          <%= link_to "Editar",
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Excluir",
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
